<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <title>About Us </title>
    <link rel="stylesheet" href="stylesheets/about.css"/>
  </head>
  <body>
    <div class="container">
        <h1>About Us</h1><br><br>
          <h3>SMOOTH PROCESSING, FAST PERFORMANCE, PROTECTED TRANSACTIONS</h3>
                <p>We at Mobile Recharge not only provide you easy accessibility, we also ensure quick transactions.<br>
              It is possible to complete a prepaid mobile and postpaid mobile recharge with us in less than 10 seconds.<br>
              You can do an instant mobile recharge and Win a chance to receive coupons and rewards on a successful transaction.<br>
            </p>
    </div>
  </body>
</html>
