<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <title>Our Service</title>
    <link rel="stylesheet" href="stylesheets/service.css"/>
  </head>
  <body>
      <div class="container">
          <h1>Our Service</h1><br><br>
            <p>Your mobile recharge either prepaid or postpaid is just a click away with Mobile recharge! Trusted by over 27 million users, Mobile Recharge is your one-stop shop solution for online recharge.<br>
                Mobile Recharge covers major network providers in India, that include Airtel, Aircel, Vodafone, BSNL, Idea, Tata Docomo (GSM), Jio etc.<br>
                Not only that, to facilitate the online recharges, the latest talk time plans and data packs are updated on the FreeCharge website accordingly.<br>
                This makes the data more reliable, and the interface becomes more user-friendly for users.</p>
      </div>
  </body>
</html>
