body{

    font-family: tahoma,sans-serif;

    background: url(/images//undraw_social_expert_07r8.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}
.sigin{
  background: rgba(90,90,90,1);
  padding: 46px;
  width: 335px;
  margin: auto;
  margin-top: 80px;
  height: 50%;
  margin-left: 180px;
}

form{
  width: 240px;
  text-align: center;
}
input
{
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.3s;
  outline: none;
  color: #fff;
}
input[type=submit]
{
  border: none;
  width: 190px;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}
input[type=submit]:hover
{
  color: #fff;
  background: dodgerblue;
}
h2{
  color: white;

}

#container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
#container a{
  color: Orange;
  margin-right: 7px;
  font-style: verdana;
}

#container a:hover{
  color: dodgerblue;
  text-decoration: none
}

span{
  color: white;
}
span a{
  color: dodgerblue;
}
span a:hover{
  color: orange;
  text-decoration: none;
}
::placeholder{
  color: aliceblue;
  opacity: 0.8;
}


}
